<form name="player-search" class="player-search" method="POST" action="player/search">
 <input type="text" name="firstname" placeholder="First Name" value="Damian"/>
 <input type="text" name="lastname" placeholder="Last Name" value="Lillard"/>
 <input type="submit" name="submit" placeholder="Search" />
</form>