<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
<div class="search-form">
  <%- include('../views/form.ejs') %>
</div>
<%- include('../views/feed.ejs') %>
</body>
</html>