<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
<div class="search-form">
  <%- include('../views/form.ejs') %>
</div>
<% if (result.lineScore.length === 0) { %>
<div class="feed-error">
  <h1>No Games Today!</h1>
</div>
<% } else { %>
<div class="feed">
  <%- include('../views/feed.ejs') %>
</div>
<% }; %>
</body>
</html>