.problem {
	width: 40%;
	border: 1px solid aquamarine;
	background-color: aquamarine;
}
.problemBox {
	width: 75%;
	border: 1px solid pink;
	margin: auto 50px;
	background-color: pink;
}
.problemBoxToggle {
	background-color: orange;
	border: 1px solid orange;
}
.headline {
	color: green;
	margin: auto 250px;
}