<form name="guest-form" method="POST" action="/guest/add">
 <table class="table">
   <tr>
   <td>First Name</td>
   </tr>
   <tr>
    <td><input type="text" name="fname"></td>
   </tr>
   <tr>
   <td>Last Name</td>
   </tr>
   <td><input type="text" name="lname"></td>
   </tr>
   <tr>
   <td>Floor Plan</td>
   </tr>
   <td>
    <select name="fplan">
    <option>Studio</option>
    <option>Open 1-Br</option>
    <option>1-Bedroom</option>
    <option>1-Bedroom + Den</option>
    <option>2-Bedroom</option>
    <option>Penthouse</option>
   </select>
  </td>
  <tr>
   <td>Move-In Date</td>
  </tr>
   <td><input type="date" name="moveIn"></td>
  </tr>
  <tr>
   <td>Price Range</td>
  </tr>
   <td><input type="number" name="price"></td>
  </tr>
   <td colspan="2"><input type="submit" value="Save Guest"></td>
 </table>
</form>
