<form name="guest-form" class="guest-form" method="POST" action="/guest/add">
  <p class="message">Enter Guest Details Below</p>
  <input type="text" name="fname" placeholder="First Name"/>
  <input type="text" name="lname" placeholder="Last Name"/>

  <input class="floor" id="check-box" type="checkbox" name="fplan" value="studio"/>
  <label for="studio" class="message">Studio</p>

  <input class="floor" id="check-box" type="checkbox" name="fplan" value="open 1-br" />
  <label for="check-box" class="message">Open 1-Bedroom</p>

  <input class="floor" id="check-box" type="checkbox" name="fplan" value="1-bedroom">
  <label for="check-box" class="message">1-Bedroom</p>
    
  <input class="floor" id="check-box" type="checkbox" name="fplan" value="1-bedroom + den"/>
  <label for="check-box" class="message">1-Bedroom + Den</p>

  <input class="floor" id="check-box" type="checkbox" name="fplan" value="2-bedroom"/>
  <label for="check-box" class="message">2-Bedroom</p>

  <input class="floor" id="check-box" type="checkbox" name="fplan" value="penthouse"/>
  <label for="check-box" class="message">Penthouse</p>

  <input type="date" name="moveIn" value="Move-in Date">
  <input type="number" name="price" min="1000.00" max="9999.00" step="500.00"/>
  <button type="submit" name="submit">create guest</button>
</form>

