<form name="vendor-form" method="POST" action="/vendor/add">
 <table class="table">
   <tr>
   <td>Company</td>
   </tr>
   <tr>
    <td><input type="text" name="company"></td>
   </tr>
   <tr>
   <td>First Name</td>
   </tr>
   <td><input type="text" name="fname"></td>
   </tr>
   <tr>
    <td>Last Name</td>
   </tr>
    <td><input type="text" name="lname"></td>
   </tr>
   <tr>
   <td>Service Performed</td>
   </tr>
   <td>
    <select name="service">
    <option>Friend/Relative of Resident</option>
    <option>Delivery/Moving Service</option>
    <option>Appliance Repair</option>
    <option>Landscaping</option>
    <option>HVAC</option>
    <option>Pest Control</option>
   </select>
  </td>
  <tr>
   <td>Date</td>
  </tr>
   <td><input type="date" name="serviceDate"></td>
  </tr>
  <tr>
   <td>Notes</td>
  </tr>
   <td><input type="text" name="note"></td>
  </tr>
   <td colspan="2"><input type="submit" value="Save Guest"></td>
 </table>
</form>
