<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div class="container">
  <h1><%= topicHead %></h1>
  <div class="form">
    <h3>Walk-In Guest</h3>
    <h4>Guest #: <%= ticket %></h4>
   <%- include('../views/form.ejs') %>
  </div>
  <div>
    
  </div>
 </div>
</body>
</html>