<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div class="container">
  <h1><%= topicHead %></h1>
  <!-- <select name="classification">
    <option>Walk-In Guest</option>
    <option>Vendor Appointment</option>
  </select> -->
  <div class="form">
     <%- include('../views/form.ejs') %>
     <br>
     <%- include('../views/form2.ejs') %>
  </div>
 </div>
</body>
</html>