<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
  <% if(userValue.classification === 'vendor') { %>
    <%- include('../views/vendorView') %>
  <% } %>
  <% if(userValue.classification === 'guest') { %>
    <%- include('../views/guestView') %>
  <% } %>
  <form name="form2" method="GET" action="/">
    <input type="submit" value="Back to Entry">
  </form>
  <form name="form3" method="POST" action="/guest/saved">
    <input type="submit" value="Add to db">
  </form>
</body>