<div class="guest-search">
 <form action="/searches" method="POST"> 
  <input type="text" name="searchName" placeholder="search guest last name" id="enter"> 
  <input type="number" name="searchPrice" placeholder="search guest price range" id="enter">
  <input type="month" name="searchMoveIn" placeholder="search guest move-in" id="enter">
  <button type="submit" name="submit" placeholder="search">Search</button>
 </form> 
</div>